#tablaP {
  width: 30%;
  margin: 20px auto;
}

#tablaP td {
  padding: 10px;  
  text-align: center;
  border: 1px solid black;
  background-color: lightblue;
}


#tablaP th {
  background-color: lightgoldenrodyellow;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
